version: "3.8"

services:
  duckdns:
    image: linuxserver/duckdns
    container_name: duckdns
    environment:
      - SUBDOMAINS=${DUCKDNS_SUBDOMAIN}
      - TOKEN=${DUCKDNS_TOKEN}
      - LOG_FILE=false
    restart: unless-stopped

  jacktrip:
    image: jacktrip/jacktrip
    container_name: jacktrip-server
    network_mode: host
    shm_size: 128m
    privileged: true
    restart: unless-stopped
    environment:
      # JACK server settings
      - SAMPLE_RATE=48000
      - BUFFER_SIZE=128
      - JACK_OPTS=-d dummy

      # JackTrip server settings
      - JACKTRIP_OPTS=-S --hubpatch 4 --numchannels 2 --bitres 16 --udpbaseport ${JACKTRIP_UDP_PORT:-61000}

